.header {
  width: 100%;
  background-color: rgba(0, 48, 36, 0.8);

  position: fixed;
  top: 0;
  z-index: 999;
}

.header h1 {
  font-size: 0;
}

.header .header_wrap {
  display: flex;
  color: #fff;
  max-width: 1460px;
  height: 90px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

.header .gnb {
  margin: 0 0 0 auto;
}

.header .gnb>ul {
  display: flex;
  gap: 60px;
  font-size: 18px;
  font-weight: 500;
}

.header .menu_icon {
  margin: 0 0 0 auto;
  font-size: 25px;
}

/*  */

.mainvisual .mainslide .itm {
  width: 100%;
  height: 100vh;
}

.mainvisual .mainslide .itm01 {
  background: url(../img/main01.jpg) no-repeat center center/cover;
}

.mainvisual .mainslide .itm02 {
  background: url(../img/main02.jpg) no-repeat center center/cover;
}

.mainvisual .mainslide .itm03 {
  background: url(../img/main03.jpg) no-repeat center center/cover;
}

.mainvisual .slogan {
  max-width: 1460px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  position: relative;
  top: 30%;
}

.mainvisual .slogan .slogan_tit {
  font-size: 67px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 75px;

  margin: 0 0 40px 0;
}

.mainvisual .slogan span {
  color: #fff;
}

.mainvisual .slogan strong {
  color: #f5a906;
}

.mainvisual .slogan p {
  font-size: 20px;
  color: #999;
  line-height: 26px;
  letter-spacing: 1px;
}

/* 여기까지 mainvisual */

.main_history {
  padding: 100px 0;
}

.main_history .his_tit {
  max-width: 1460px;
  margin: 0 auto 30px auto;
  padding: 0 15px;
}

.main_history h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 8px;
  margin: 0 0 5px 0;
  padding: 5px 20px 5px 20px;
  background: #f8b307;
  color: #003125;
  border-radius: 5px;
}

.main_history .his_tit>strong {
  font-size: 55px;
  font-weight: 600;
  margin: 0 20px 0 0;
}

.main_history .his_tit>span {
  font-size: 55px;
  font-weight: 600;
}

.main_history .his_inner {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 15px;
}

.main_history .his_left>ul {
  display: table;
  width: 100%;
  text-align: center;
}

.main_history .his_left>ul>li {
  display: table-cell;
  font-size: 20px;
  gap: 50px;
  /* border: 1px solid #888; */
  padding: 8px 50px 8px 50px;
  cursor: pointer;
}



.main_history .his_left>ul>li:nth-child(2) {
  border-radius: 0;
}





.main_history .his_left>ul>li:hover {
  background: #003125;
  color: #fff;
}

.main_history .his_left>ul>li.on {
  background: #003125;
  color: #fff;
}



.main_history .his_left>ul>li:nth-child(2) {
  border-left: 1px solid #ccc7c7;
  border-right: 1px solid #ccc7c7;
}

.main_history .his_left {
  display: inline-block;
  width: 749.94px;
}

.main_history .his_right .his_con {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.main_history .his_right strong {
  display: inline-block;
  padding: 60px 0 50px 0;
  font-size: 40px;
  font-weight: 600;
  color: #111111;
  width: 100%;
  line-height: 45px;
  position: relative;
}

.main_history .his_right strong::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc7c7;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main_history .his_right p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 50px;
}

.main_history figure {
  position: relative;
  left: 35px;
}

.main_history .his_right li {
  height: 0;
  overflow: hidden;
}

.main_history .his_right li.on {
  height: auto;
}

/* 여기까지 main_history */

.main_menu {
  background: #003125;
  padding: 100px 0;
}

.main_menu .menu_tit {
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto 20px auto;
  color: #f8b307;
}

.main_menu h2 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 8px;
  margin: 0 0 5px 0;
}

.main_menu .menu_tit strong {
  font-size: 55px;
  font-weight: 600;

  display: inline-block;
  margin: 0 20px 0 0;
}

.main_menu .menu_tit span {
  font-size: 55px;
  font-weight: 300;
}

.main_menu .menu_inner {
  max-width: 1743px;
  padding: 0 15px;
  margin: 0 auto;
}

.main_menu .img_box img {
  width: 100%;
  height: 700px;
}

.main_menu figure {
  position: relative;
}

.main_menu .cont_slogan {
  background: rgba(255, 177, 0, 0.8);
  backdrop-filter: blur(3px);
  padding: 130px 80px;

  position: absolute;
  right: 0;
  left: 60%;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}

.main_menu figure:hover .cont_slogan {
  background: rgba(230, 189, 170, 0.9);
}

.main_menu h3 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 8px;
  margin: 0 0 5px 0;
  color: #003125;
  margin: 0 0 20px 0;
}

.main_menu .cont_slogan span {
  display: block;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
  color: #003125;
}

.main_menu .cont_slogan strong {
  font-size: 44px;
  font-weight: 200;
  line-height: 48px;
  letter-spacing: 1px;
  color: #003125;
  display: inline-block;
  margin: 0 0 20px 0;
}

.main_menu .cont_slogan p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.main_menu .menu_slide {
  position: relative;
}

.main_menu .menu_slide .slick-dots {
  position: absolute;
  bottom: 100px;
  right: 178px;
}

.main_menu .menu_slide .slick-dots li {
  display: inline-block;
  width: 60px;
  height: 4px;
  background: #fff;
  margin: 0 8px 0 0;
}

.main_menu .menu_slide .slick-dots li.slick-active {
  background: #003125;
}

.main_menu .menu_slide .slick-dots button {
  display: none;
}

.main_menu i {
  color: #003125;
  font-size: 50px;
  cursor: pointer;
}

.main_menu .menu_inner {
  position: relative;
}

.main_menu .menu_arrows {
  position: absolute;
  bottom: 132px;
  right: 280px;
}

.main_menu .menu_arrows .left {
  position: absolute;

  left: -360px;
}

.main_menu .menu_arrows .right {
  position: absolute;
  right: -200px;
}

/* 여기까지 main_menu */

.main_since {
  background: #ffb100;
  padding: 100px 0;

  position: relative;
}

.main_since .sin_inner {
  max-width: 1743px;
  height: 500px;
  padding: 0 15px;
  margin: 0 auto;


  display: grid;
  grid-template-columns: 1fr 2fr;
}



.main_since .sin_left h2 {
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 8px;
  margin: 0 0 8px 0;
}

.main_since .sin_left span {
  display: block;
  font-size: 55px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 1px;
}

.main_since .sin_left strong {
  display: block;
  font-size: 55px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 1px;
  color: #1e4f40;
  margin-bottom: 50px;
}

.main_since .sin_left p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main_since .sin_left {
  position: relative;
}

.main_since .sin_left a {
  position: absolute;
  bottom: 0;

  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #1e4f40;
  border-radius: 10px;
  color: #1e4f40;
  padding: 10px 50px;
}

.main_since .sin_left a:hover {
  background: #1e4f40;
  color: #fff;
}

.main_since .sin_left i {
  font-size: 20px;
}





.main_since .sin_right figure .img_box01 {
  position: absolute;
  right: 95px;
  top: 0;
  width: 700px;
  overflow: hidden;
  margin: 100px 0 0 0;
}

.main_since .sin_right figure .img_box02 {
  position: absolute;
  bottom: 0;
  left: 600px;
  width: 700px;
  height: 443px;
  overflow: hidden;
  margin: 0 0 100px 0;
}

.main_since .sin_right figure .img_box02 img {
  width: 700px;
  height: 443px;
}

.main_since .sin_right figure img {
  transition: 1s;
}

.main_since .sin_right figure:hover img {
  transform: scale(1.2);
}

/* 여기까지 main_since */


.main_sns {
  padding: 100px 0;
}